@import "./components/helper";
@import "./components/toggle";
@import "./components/dropzone";
@import "./components/tooltip";
@import "./components/typography";
// @import"./components/scrolltotop";
* {
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow-x: auto;
  gap: 10px;
  div.card {
    width: 250px;
    height: 300px;
  }
}
.pointer-cursor {
  cursor: pointer;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
}
