@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bg-dark {
  background-color: #151515 !important;
}

.pointer-cursor {
  cursor: pointer !important;
}

.text-primary {
  color: #0cba00 !important;
}

.bg-greenishblue {
  background-color: #01b399 !important;
}

.text-greenishblue {
  color: #01b399 !important;
}

.profile-greenishblue {
  -webkit-box-shadow: 8px 12px 1px #01b399;
          box-shadow: 8px 12px 1px #01b399;
}

.bg-bluieshviolet {
  background-color: #7601ea !important;
}

.text-bluieshviolet {
  color: #7601ea !important;
}

.profile-bluieshviolet {
  -webkit-box-shadow: 8px 12px 1px #7601ea;
          box-shadow: 8px 12px 1px #7601ea;
}

.bg-greenishyellow {
  background-color: #a5c600 !important;
}

.text-greenishyellow {
  color: #a5c600 !important;
}

.profile-greenishyellow {
  -webkit-box-shadow: 8px 12px 1px #a5c600;
          box-shadow: 8px 12px 1px #a5c600;
}

.bg-reddishpink {
  background-color: #a5c600 !important;
}

.text-reddishpink {
  color: #a5c600 !important;
}

.profile-reddishpink {
  -webkit-box-shadow: 8px 12px 1px #a5c600;
          box-shadow: 8px 12px 1px #a5c600;
}

.toggleWrapper input {
  position: absolute;
  left: -99em;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background-color: #83d8ff;
  border-radius: 84px;
  -webkit-transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #ffcf96;
  border-radius: 30px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.toggle__handler .crater {
  position: absolute;
  background-color: #e8cda5;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}

.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}

.toggle__handler .crater--2 {
  top: 10px;
  left: 2px;
  width: 6px;
  height: 6px;
}

.toggle__handler .crater--3 {
  top: 2px;
  left: 10px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 5px;
  left: 35px;
  z-index: 0;
  width: 25px;
  height: 3px;
}

.star--2 {
  top: 10px;
  left: 28px;
  z-index: 1;
  width: 25px;
  height: 3px;
}

.star--3 {
  top: 20px;
  left: 34px;
  z-index: 0;
  width: 25px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  -webkit-transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 10px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 22px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 25px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(3px, 0, 0);
          transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
  background-color: #749dd6;
}

input:checked + .toggle:before {
  color: #749ed7;
}

input:checked + .toggle:after {
  color: #ffffff;
}

input:checked + .toggle .toggle__handler {
  background-color: #ffe5b5;
  -webkit-transform: translate3d(40px, 0, 0) rotate(0);
          transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}

input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}

input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  -webkit-transform: translate3d(-5px, 0, 0);
          transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  -webkit-transform: translate3d(-7px, 0, 0);
          transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4,
input:checked + .toggle .star--5,
input:checked + .toggle .star--6 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
  -webkit-transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
  -webkit-transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
  -webkit-transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: " ";
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: " ";
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.form-group .form-control {
  border: none;
  background-color: rgba(255, 0, 0, 0) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.87);
  padding-left: 0px;
}

.form-group .form-control:focus {
  border-bottom: 1.3px solid white;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87) !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

button.website {
  border-radius: 0px;
  padding: 0.5rem 1.5rem;
  border: 1.2px solid rgba(255, 255, 255, 0.87);
  color: rgba(255, 255, 255, 0.87);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.website:hover {
  color: #0cba00;
  background-color: rgba(255, 255, 255, 0.87);
}

.upload-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  margin-bottom: 10px;
}

.upload-section > div {
  width: 50%;
}

.drop-zone {
  margin-bottom: 10px;
  padding: 40px 10px;
  height: inherit;
  border: 2px dashed #e9ebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.drop-zone:focus {
  outline: none;
}

.image-preview {
  height: inherit;
  margin-left: 5%;
}

.preview-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.preview-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}

.files-container {
  width: 98%;
  overflow-x: auto;
}

.files-table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.files-table tr,
.files-table td,
.files-table th {
  border: 1px solid #ccc;
  padding: 10px;
}

.files-table .file-title {
  width: 20%;
}

.files-table .file-description {
  width: 70%;
}

@media screen and (max-width: 1000px) {
  .upload-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upload-section > div {
    width: 100%;
  }
  .image-preview {
    margin-left: 0;
    height: 300px;
  }
  .upload-section {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .drop-zone {
    width: 100%;
  }
}

* {
  font-family: "Fira Sans", sans-serif;
}

.login,
.background {
  background: #0cba00;
  background: linear-gradient(45deg, #0cba00 0%, #00ffd8 100%);
}

button.normal {
  padding: 0.75rem 1.5rem;
  border-radius: 0px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 1.2px solid #0cba00;
  color: #0cba00;
  -webkit-box-shadow: 0px 0px 0px #0cba00 inset, 0px 0px 0px #0cba00 inset, 3px 3px 3px black;
          box-shadow: 0px 0px 0px #0cba00 inset, 0px 0px 0px #0cba00 inset, 3px 3px 3px black;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button.normal:hover {
  color: white;
  -webkit-box-shadow: 100px 0px 0px #0cba00 inset, -100px 0px 0px #0cba00 inset, 3px 3px 3px black;
          box-shadow: 100px 0px 0px #0cba00 inset, -100px 0px 0px #0cba00 inset, 3px 3px 3px black;
}
/*# sourceMappingURL=style.css.map */