@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./components/helper";
@import "./components/toggle";
@import "./components/timeline";
// @import "./components/form";
@import "./components/dropzone";
@import "./components/typography";

* {
  font-family: "Poppins", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow-x: auto;
  gap: 10px;
  div.card {
    width: 250px;
    height: 300px;
  }
}
.pointer-cursor {
  cursor: pointer;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.3);
  h5 {
    color: white;
  }
}
