@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./components/helper";
@import "./components/toggle";
@import "./components/timeline";
@import "./components/form";
@import "./components/dropzone";
@import "./components/typography";

$background: rgb(21, 21, 21);
$white: rgba(255, 255, 255, 0.87);
$primary: rgb(12, 186, 0);

* {
  font-family: "Fira Sans", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.login,
.background {
  background: rgb(12, 186, 0);
  background: linear-gradient(
    45deg,
    rgba(12, 186, 0, 1) 0%,
    rgba(0, 255, 216, 1) 100%
  );
}

button.normal {
  padding: 0.75rem 1.5rem;
  border-radius: 0px;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 1.2px solid $primary;
  color: $primary;
  box-shadow: 0px 0px 0px $primary inset, -0px 0px 0px $primary inset,
    3px 3px 3px black;
  transition: all 0.2s ease-in;
  &:hover {
    color: white;
    box-shadow: 100px 0px 0px $primary inset, -100px 0px 0px $primary inset,
      3px 3px 3px black;
  }
}

label.h3 {
  margin-top: 1.5rem;
}
